.h1,
.h3,
.span,
.p,
.sup,
.button {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  letter-spacing: 0;
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
}

.h1 {
  font-size: 10rem;
  font-weight: 800;
  line-height: 12rem;
  &.resume {
    font-size: 5rem;
    line-height: 1;
  }
}

.h3 {
  font-size: 3rem;
  line-height: 5rem;
}

.sup {
  font-size: 1.6rem;
  line-height: 1;
  vertical-align: super;
}

.button {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  vertical-align: super;
}
