@mixin makeTypography($fontSize: 2rem, $lineHeight: 2rem, $fontWeight: 400) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@mixin body {
  @include makeTypography();
}

@mixin title {
  @include makeTypography(10rem, 12rem);
}

@mixin heading {
  @include makeTypography(3rem, 5rem);
}

@mixin resume {
  @include makeTypography(5rem, 5rem);
}

@mixin sup {
  @include makeTypography(1.6rem, 1.6rem);
}

@mixin button {
  @include makeTypography(2rem, 2rem, 500);
}

.h1,
.h2,
.h3,
.span,
.p {
  @include body;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  letter-spacing: -0.05rem;
}

.h1 {
  @include title;
  font-weight: 800;

  &.resume {
    @include resume;
  }
}

.h3 {
  @include heading;
}

.sup {
  @include sup;
  vertical-align: super;
}

.button {
  @include button;
}
