.h1, .h2, .h3, .span, .p {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  letter-spacing: 0;
  line-height: 2.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: -.05rem;
}

.h1 {
  font-size: 10rem;
  font-weight: 800;
  line-height: 12rem;
}

.h3 {
  font-size: 3rem;
  line-height: 5rem;
}

.sup {
  font-size: 1.6rem;
  line-height: 1.6rem;
  vertical-align: super;
}
